
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Number of Faculties: @ViewBag.CountOfFaculties</h1>
    <h1 class="display-4">Number of Departments: @ViewBag.CountOfDepartments</h1>
</div>
